.container {
  z-index: 50;
  display: flex;
  overflow: visible;
  top: 20vh;
  left: 2vw;
}

.white {
  color: white;
}

.rect {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.motion-rect {
  width: 100%;
  height: 100%;
  color: gray;
  fill: currentColor;
}

.text {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}
