.container {
    padding: 5rem 0;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.subtitle:hover,
.subtitle:focus,
.subtitle:active {
    background: rgb(232 0 255);
    color: white;
}

.subtitle {
    font-size: 22px;
    margin: 8px;
    transition: background 0.15s ease, color 0.15s ease;
    cursor: pointer;
    text-align: center;
    text-transform: lowercase;
    padding: 16px 12px;
}

.title {
    font-weight: 800;
    margin: 32px;
    line-height: 1.2;
    font-size: clamp(2.5rem, 3.2vw + 2rem, 4rem);
    min-height: 0vh;
    text-align: center;
    text-transform: lowercase;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(201 42 217) 43%, rgb(0 169 255) 100%);
    background-clip: text;
}

.about {
    position: absolute;
    bottom: 5vh;
    right: 3vw;
}

.nav-link {
    text-transform: lowercase;
    -webkit-transition: background 0.15s ease;
    transition: background 0.15s ease;
    font-size: 23px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    background: rgb(232 0 255);
    cursor: pointer;
}
